Options -Indexes 
RewriteEngine On 
# RewriteBase /

#当前目录，不列出目录，跳到api目录
RewriteRule ^/?$   %{REQUEST_URI}api/ [R,L]

#static/目录下的，直接跳到api/statci/目录下
#RewriteRule ^static/(.+)   api/static/$1 [L]

#参数有3项的，controller:$1 , action:$2 , item:$3
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/(.+)$  api/index.php?c=$1&a=$2&i=$3 [L]

#参数有2项的，controller: 默认=api , action:$1 , item:$2
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/(.+)$  api/index.php?c=api&a=$1&i=$2 [L]

#参数有1项的，controller 默认=api , action 默认=value , item:$1
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$  api/index.php?c=api&a=value&i=$1 [L]
