  .comm-box {
    background-color:#fff;
    padding:10px;
    margin:20px;
  }
    div.comm-box h3{
      background-color:#f1f1f1;
      border-bottom:3px solid #88f;
    
    }
    div.comm-box p{
      font-size:1.5em;
    }