Options -Indexes 
RewriteEngine On 
# RewriteBase / 

#参数有3项的，controller:$1 , action:$2 , item:$3
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/(.+)$   index.php?c=$1&a=$2&i=$3 [L]

#参数有2项的，controller: 默认=api , action:$1 , item:$2
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/(.+)$   index.php?c=api&a=$1&i=$2 [L]

#参数有1项的，controller 默认=api , action 默认=value , item:$1
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$   index.php?c=api&a=value&i=$1 [L]
